<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="poetry, coole, 诗歌, 诗词, 词曲">
    <meta name="description" content="基于 Coole 开发部署在 Vercel 上的免费诗词 API 接口。">
    <title>poetry</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs">文档</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/guanguans/poetry" target="_blank">源码</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container table-responsive mt-3">
    <table class="table table-bordered table-striped table-hover col-xs-12 col-sm-12 col-xs-12 col-md-12 col-lg-12">
        <thead>
        <tr>
            <th>接口名称</th>
            <th>请求方法</th>
            <th>URI</th>
            <th>请求参数</th>
            <th>示例</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">获取词列表</th>
            <td>GET</td>
            <td>v1/ci/index</td>
            <td>rhythmic,author,content,page,per_page</td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/ci/index?rhythmic=点绛唇&author=苏轼&content=雁&page=1&per_page=10"
                   target="_blank">
                    https://apipoetry.vercel.app/v1/ci/index?rhythmic=点绛唇&author=苏轼&content=雁&page=1&per_page=10
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">获取词详情</th>
            <td>GET</td>
            <td>v1/ci/show/{value}</td>
            <td></td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/ci/show/1" target="_blank">
                    https://apipoetry.vercel.app/v1/ci/show/1
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">随机获取词</th>
            <td>GET</td>
            <td>v1/ci/rand/{limit}</td>
            <td></td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/ci/rand/10" target="_blank">
                    https://apipoetry.vercel.app/v1/ci/rand/10
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">获取作者列表</th>
            <td>GET</td>
            <td>v1/author/index</td>
            <td>name,long_desc,page,per_page</td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/author/index?name=苏轼&long_desc=进士&page=1&per_page=10"
                   target="_blank">
                    https://apipoetry.vercel.app/v1/author/index?name=苏轼&long_desc=进士&page=1&per_page=10
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">获取作者详情</th>
            <td>GET</td>
            <td>v1/author/show/{value}</td>
            <td></td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/author/show/1" target="_blank">
                    https://apipoetry.vercel.app/v1/author/show/1
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">随机获取作者</th>
            <td>GET</td>
            <td>v1/author/rand/{limit}</td>
            <td></td>
            <td>
                <a href="https://apipoetry.vercel.app/v1/author/rand/10" target="_blank">
                    https://apipoetry.vercel.app/v1/author/rand/10
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</html>